<div style="text-align: center;">
<br><br>

<p>We would love to hear from you!</p>

<%= link_to new_message_path, class: "btn btn-info btn-lg" do %>
	<i class="glyphicon glyphicon-chevron-right"></i> Say Hello :)
<% end %>

<br><br>

<%= image_tag google_map('31.421714, 73.063210')%>

</div>