<div class="helloDiv">
<br><br>
<p style="color: #149077; opacity: 0.5; font-family: sans-serif; font-weight: lighter; font-size: 25px;">We would love to hear from you!</p>

<%= button_tag "Say Hello :)", class: "helloButton" %>

<br><br>

<%= image_tag google_map('31.421714, 73.063210')%>

</div>