<div style="width: 100%; height: 350px; background-color: yellow; background-image: <%= @pattern.uri_image %>; text-align: center;">

	<%= image_tag("logo01.png", :style => "height: 100%; ") %>
	
</div>